In [1]:
# Uno de los paquetes más utilizados por  Data Scientist
# Numpy es sólo 2D, para tablas de datos tabulares se usa esto

# Pandas + Dataframe

In [3]:
pip install pandas

Collecting pandas
  Using cached pandas-1.3.4.tar.gz (4.7 MB)
  Installing build dependencies: started
  Installing build dependencies: still running...
  Installing build dependencies: still running...
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: still running...
  Getting requirements to build wheel: finished with status 'done'
  Preparing wheel metadata (pyproject.toml): started
  Preparing wheel metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: numpy>=1.21.0 in c:\users\sergi\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.21.3)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sergi\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sergi\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Building wheels for collected packages: pandas
  Building wheel for pandas (pyproject.toml): started
  Building wheel for pandas (pyproject.toml): still running...
  Building wheel for pandas (pyproject.toml): still running...
  Building wheel for pandas (pyproject.toml): finished with status 'done'
  Created wheel for pandas: filename=pandas-1.3.4-cp310-cp310-win_amd64.whl size=10048770 sha256=96c53ff0821f5288699caffce2cae8d3285e1e9b0c6fc0bc3f8f4833685be2be
  Stored in directory: c:\users\sergi\appdata\local\pip\cache\wheels\f5\c7\c7\67b16ccaa45a66d1b9a188c3e3fc8238de49d6aa5e1420d2b6
Successfully built pandas
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

In [2]:
# si no trabajamos en LOCAl ( jupyter notebbok, en Azure por ejemplo) 
# hay que  subir el archivo de datos "datos".csv

In [3]:
paises=["China","India","Estados Unidos","Indonesia","Brasil"]
poblaciones= [1.38,1.29,0.33,0.26,0.20]

In [5]:
# Creamos el dicccionario
mi_dicc = { "Países": paises, "Población": poblaciones}

In [6]:
mi_dicc

{'Países': ['China', 'India', 'Estados Unidos', 'Indonesia', 'Brasil'],
 'Población': [1.38, 1.29, 0.33, 0.26, 0.2]}

In [7]:
type(mi_dicc)

dict

In [11]:
# Ahora podemos crear un DataFrame
Población = pd.DataFrame(mi_dicc)

In [12]:
Población

           Países  Población
0           China       1.38
1           India       1.29
2  Estados Unidos       0.33
3       Indonesia       0.26
4          Brasil       0.20

## Índices

In [13]:
# Crear indices
Población.index= ["CN","IN","US","ID","BR"]

In [14]:
Población

            Países  Población
CN           China       1.38
IN           India       1.29
US  Estados Unidos       0.33
ID       Indonesia       0.26
BR          Brasil       0.20

In [15]:
# Como se accede a estos datos
# Primero accedemos a 1 columna , "países"
Población ["Países"]

CN             China
IN             India
US    Estados Unidos
ID         Indonesia
BR            Brasil
Name: Países, dtype: object

In [18]:
# Es una serie de una columna, pero sigue siendo un DataFrame
type (Población ["Países"])

pandas.core.series.Series

In [19]:
# Para sacar un DataFrame se usan [[]]
Población [["Países"]]

            Países
CN           China
IN           India
US  Estados Unidos
ID       Indonesia
BR          Brasil

In [20]:
type(Población[["Países"]])

pandas.core.frame.DataFrame

In [21]:
# se pueden meter más columnas [["asf","asdf"]]
#Se pueden sacar filas también
Población [0:3]

            Países  Población
CN           China       1.38
IN           India       1.29
US  Estados Unidos       0.33

## Loc & ILoc para escojer datos específicos

In [22]:
# Loc utiliza la etiqueta
# Iloc utiliza la posición

In [24]:
#loc
#ojo, sacamos en serie
Población.loc["IN"]

Países       India
Población     1.29
Name: IN, dtype: object

In [25]:
# Recordar, en Dataframe son 2[[]]
Población.loc [["IN"]]

   Países  Población
IN  India       1.29

In [26]:
# si quiero sacar solo "algo"
Población.loc[["IN"],["Población"]]

    Población
IN       1.29

In [28]:
# si quiero sacar 1 dato de todos
Población.loc[:,["Población"]]

    Población
CN       1.38
IN       1.29
US       0.33
ID       0.26
BR       0.20

In [29]:
#ILOC
# sacar por posición

In [31]:
#seeeerie
Población.iloc[1]

Países       India
Población     1.29
Name: IN, dtype: object

In [34]:
#Dataframe
Población.iloc[[1]]

   Países  Población
IN  India       1.29

In [35]:
Población.iloc[[1],[1]]

    Población
IN       1.29

In [36]:
Población.iloc[:,[1]]

    Población
CN       1.38
IN       1.29
US       0.33
ID       0.26
BR       0.20